.input_text {
  width: 100%;
  padding: 12px 20px;
  font-size: large;
  margin: 10px;
}

.search_books_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
